<div class="row">
    <div class="large-12 columns">
        <h2 class="background"><span>SETTINGS</span></h2>
    </div>
</div>

<div class="row">
    <div class="large-11 large-offset-1 columns">
        <h5>
            Departments
        </h5>

        <ul>
            <li>
                <a href="/departments/create">Create</a>
            </li>
            <li>
                <a href="/departments">Edit</a>
            </li>
        </ul>

        <h5>
            People
        </h5>

        <ul>
            <li>
                <a href="/persons/create">Create</a>
            </li>
        </ul>
    </div>
</div>
