<div class="row">
    <div class="large-12 columns">
        <h2 class="background"><span>NEW DEPARTMENT</span></h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <section data-bind="with: department">

            <fieldset>
                <h4>Unit assignment</h4>

                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <label>
                            Unit
                        </label>
                        <select data-bind="value: unitId">
                            <!-- ko foreach: $parent.units -->
                            <option data-bind="attr: { label: name, value: id }, text: name"></option>
                            <!--/ko-->
                        </select>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <h4>Department information</h4>

                <div class="row">
                    <div class="large-5 medium-5 columns">
                        <label>
                            Id<span class="required">*</span>
                            <input type="text" data-bind="value: id" />
                        </label>
                    </div>

                </div>

                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <label>
                            Name<span class="required">*</span>
                            <input type="text" data-bind="value: name" />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="large-4 medium-4 columns">
                        <label>
                            Sequence value<span class="required">*</span>
                            <input type="text" data-bind="value: sequenceValue" />
                        </label>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="large-12 columns">
                    <span class="save-button" data-bind="click: $parent.saveDepartment">Save</span>
                    <span class="cancel-button" data-bind="click: $parent.cancelDepartment">Cancel</span>
                </div>
            </div>
        </section>
    </div>
</div>

